* {
	box-sizing: border-box;
}
:root {
	--red70: #a4000f;
	--grey60: #4a4a4f;
	--grey80: #2a2a2e;
	--white: #ffffff;
	--white-a20: rgba(255, 255, 255, .2);
	--white-a40: rgba(255, 255, 255, .4);
	--shadow30: 0 4px 16px #0c0c0d1a;
}
html {
	height: 100%;
}
body {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	margin: 0;
	min-width: 100%;
	width: -moz-fit-content;
}
body > * {
	background: var(--grey60);
}
header, footer {
	align-items: center;
	color: var(--white);
	display: flex;
	font-size: 12px;
	justify-content: space-between;
	padding: 0 1em;
	width: 100%;
}
header {
	border-bottom: 1px solid var(--grey80);
	height: 32px;
	position: fixed;
}
h1 {
	background: url(icon.svg) no-repeat 0/2em;
	font-size: 1em;
	line-height: 2em;
	padding-left: 32px;
}
input[type="number"] {
	background: var(--white-a20);
	border: 1px solid var(--grey80);
	color: currentColor;
	font-size: inherit;
	padding: 2px;
	text-align: right;
	width: 3em;
	-moz-appearance: textfield;
}
a[href] {
	cursor: pointer;
}
main {
	align-items: safe center;
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	justify-content: center;
	padding-top: 32px;
	width: 100%;
}
main:empty {
	height: 100%;
}
main:empty::after {
	content: url(loading.svg);
	height: 64px;
	margin: auto;
	width: 64px;
}
canvas {
	box-shadow: var(--shadow30);
	margin: 8px;
}
p.error {
	background: var(--white-a40);
	color: var(--red70);
	padding: 1em;
}
footer {
	border-top: 1px solid var(--grey80);
}
footer small a {
	color: inherit;
	font-style: italic;
	text-decoration: none;
}